/* 
Filename: base.css			
Version: 1.4A // 10 Nov 2011 --> Branch "font16_24"	
Notes:						
- fontsize now 16px with 24px vertical rhythm

*/

/* ----- Reset or Normalize ----- */

@import "normalize.css";

html, body, div, span, 
h1, h2, h3, h4, h5, h6,
p, ol, ul, li, blockquote,
dl, dt, dd, pre, code, img	{
	margin: 0;
	padding: 0;
	border: 0;
	}
	
/* _____ General Layout	_____ */

body {
	background-color: #fdf6e3;
	}
	
#banner	{
	height: 72px;	/* 3 x 24 = 72 */
	background-color: #657b83;
	color: #eee8d5;
	margin-bottom: 24px;
	padding: 12px;
	font-family: Segoe, Corbel, "Trebuchet MS", sans-serif;
	font-size: 16px;
	line-height: 24px;
	}
	
	h1			{font-size: 24px; font-weight: normal;}
	#banner p	{margin-bottom: 0;}
	p.nav		{margin-bottom: 0;}
	p.nav a		{color: #eee8d5; font-style: italic;}
	
#wrap	{
	width: 960px;
	margin: 0 auto;
	}
	
#content	{
	float: left;
	width: 410px;		
	margin-left: 246px;
	}

#sidebar	{
	float: right;
	width: 222px;		
	}

#footer	{
	clear: both;
	}
	
/* Standard link styles */

a, a:link { 
	text-decoration: underline; 
	color: #002b36;
	font-weight: bold;
	}

a:visited 	{color: #6c71c4;}
a:hover 	{
	text-decoration: none; 
	color: #268bd2;
	border-bottom: 1px dotted #268bd2;
	}

/* ----- Typography ----- */						
/* - 16px body text with 24px of leading (and vertical measure) */
  		
body {
	color: #073642;
    font-family: ff-tisa-web-pro, Segoe, Corbel, "Trebuchet MS", sans-serif;
    font-size: 100%;		/* Base size = 16px */
    font-style: normal;
    }
    
/* em, i	{
	font-style: italic;
	font-weight: 400;
	}
	
strong, b	{
	font-size: normal;
	font-weight: 700;
	} */
  		
#content	{
	font-size: 1.0em;			/* 16/16 = 1.0 */
	line-height: 1.5em;			/* 24/16 = 1.5 */
	}
  	
#sidebar,
#footer		{
	font-size: 0.8750em;		/* 14/16 = 0.8750em */
	line-height: 1.714285714em;	/* 24/14 = 1.714285714em */
	}

h2 {
	font-family: alternate-gothic-no-2-d, Georgia, "Times New Roman", sans-serif;
	font-size: 2.0em;			/* 32/16 = 1.5 */
	line-height: 1.0em;			/* 32/24 = 1.0 */
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px #FAFAFA;
	font-weight: normal;
	color: #2aa198;
	margin-bottom: -7px;		/* Need to convert this */
	}

h3	{
	font-size: 1.1250em;		/* 16/14 = 1.1429 */
	line-height: 1.333333333em;	/* 20/16 = 1.25 */
	margin-top: 2.0em;			/* 1.5: 36/18 = 2.0 */
	margin-bottom: 0.666666667em;		/* 0.5: 12/18 = 0.66667 */
	}

h4	{
	font-size: 1.0em;			/* 16/16 = 1.0 */
	line-height: 1.5em;			/* 24/16 = 1.5 */
	margin-bottom: 0;
	font-weight: normal;
	font-style: italic;
	}
	
#sidebar h4	{
	font-size: 1.142857143em;	/* 16/14 = 1.142857 */
	line-height: 1.5em;			/* 24/16 = 1.5 */
	font-weight: normal;
	font-style: italic;
	}


p, ul, ol, dl, dd {margin-bottom: 1.5em;} /* 24px */

p.date	{
	/* font-family: Constantia, Georgia, "Times New Roman", sans-serif; */
	}

p.meta	{
	font-size: 0.875em;			/* 14/16 = 0.9286 */
	line-height: 1.714285714em;	/* 24/14 = 1.714285714 */
	margin-bottom: 3.428571em;	/* 48/14 = 3.428571 */
	}
	
.shadow	{
	text-shadow: 1px 2px 1px #FAFAFA;
	}

#sidebar p,
#sidebar ul,
#sidebar ol,
#sidebar dl	{margin-bottom: 1.714286em;}

#sidebar p.increment	{
	line-height: 1.371429em; 	/* 16px of LH for a 5:4 ratio */
	margin-bottom: 20px; 		/* just used to put follow on elements back on 24px LH */
	}

blockquote	{
	margin: 1.5em;
	color: #586e75;
	font-style: italic;
	}
	
pre, code	{
	font-family: "DejaVu Sans Mono", Consolas, Menlo, "Courier New", monospace, sans-serif;
	font-size: 14px;	
	color: #859900;
	margin-bottom: 1.5em;
	}
	
	/* https://github.com/h5bp/html5-boilerplate/issues/656#issuecomment-1761788 */
	code		{line-height: 1;}
	pre code	{line-height: 1.5em;}
	
span.sc {font-variant: small-caps;}

span.update	{font-style: italic;}

ol,
ul	{
	margin-left: 1.5em;
	}

ol li ol	{
	list-style: upper-alpha;
	margin-left: 2.5714em;
	margin-bottom: 0;
	}
	

/* ----- Images ----- */

#content img	{
	margin: 1.5em auto;
	padding: 4px;
	background-color: #eee8d5;
	border: 1px solid #657b83;
	display: block;
	text-align: center;
	}  	 	

/*  ----- Sidenotes ----- */

.sidenote {
	font-size: 0.8750em;
	font-style: italic;
	line-height: 1.714285714em;
	color: #586e75;
	margin-left:-188px;	/* moves over to the left -- 188 is 1 gutter */
	overflow:hidden;
	position:absolute;	/* removes from normal flow...rest of paragraph moves up */
	text-align: right;
	width:164px;
	}
	
/* ----- footnotes -----*/

a.fn	{
	border-bottom: none;
	font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
	}
	
.footnotes	{
	font-size: 0.8750em;
	line-height: 24px;
	}

.footnotes hr	{
	border-top: 1px solid #073642;
	margin-right: 300px;
	margin-top: 24px;
	margin-bottom: 24px;
	padding: 0;
	}
	
.footnotes ol {
	padding: 0;
	margin-bottom: 1.714285714em;
	margin-left: 1.714285714em;
	}


/* ----- Colors by Solarized ----- 

base03:	   #002b36;
base02:    #073642;		Body Text Color
base01:    #586e75;		Header background
base00:    #657b83;
base0:     #839496;
base1:     #93a1a1;
base2:     #eee8d5;
base3:     #fdf6e3;		Body background
yellow:    #b58900;
orange:    #cb4b16;
red:       #dc322f;
magenta:   #d33682;
violet:    #6c71c4;		Links (Visited)
blue:      #268bd2;		Links (Hover)
cyan:      #2aa198;		h2 article titles
green:     #859900;		Code and pre

Thanks to Ethan Schoonover: http://ethanschoonover.com/solarized  */
