/* 
Filename: base.css			
Version: 1.2 // 2 Jul 2011	
Notes:						
- Reboot, now under source control with Git
- Branch "wrap": move all text size under #wrap and derive


*/

/* Meyer Reset of default styles			*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
	
/* _____ General Layout	_____ */

body {
	background-color: #fff;
	}
	

#header	{
	height: 80px;
	background-color: #313131;
	color: #fff;
	padding: 20px;
	}
	
	h1			{font-size: 24px;}
	#header p	{font-size: 14px;}
	p.nav a		{color: #6685A3; font-style: italic;}
	
#wrap	{
	width: 700px;
	margin: 0 auto;
	}
	
#content	{
	float: left;
	width: 68%;		/* 476px */
	}

#sidebar	{
	float: right;
	width: 28%;		/* 196px */
}

#footer	{
	clear: both;
}
	
/* Standard link styles */

a, a:link { 
	text-decoration: none; 
	color: #003366;
	font-weight: bold;
	}

a:visited 	{color: #6685A3;}
a:hover 	{text-decoration: underline;}

/* ----- Typography ----- */
						
/* - 14px body text with 20px of leading (and vertical measure) */
  		
body {
	color: #424242;
    font-family: proxima-nova-1, proxima-nova-2, Corbel, "Trebuchet MS", sans-serif;
    font-size: 100%;		/* Base size = 16px */
    font-style: normal;
    }
    
em, i	{
	font-style: italic;
	font-weight: 400;
	}
	
strong, b	{
	font-size: normal;
	font-weight: 700;
	}
  		
#header	{
	margin-bottom: 1.25em; 	/* 20/16 = 1.25 */
	}
	
#wrap	{
	font-size: 0.875em;							/* 14/16 = 0.875 */
	line-height: 1.4286em;						/* 20/14 = 1.4286 */
	}
  	
#sidebar	{
	font-size: 0.9286em;	/* 13/14 = 0.9286em */
	line-height: 1.5385em;	/* 20/13 = 1.5385 */
	}

#footer	{
	font-size: 0.9286em;	/* 13/14 = 0.9286em */
	line-height: 1.5385em;	/* 20/13 = 1.5385 */
	}

h2 {
	font-family: Constantia, Georgia, "Times New Roman", sans-serif;
	font-size: 1.4286em;	/* 20/14 = 1.4268 */
	line-height: 1.0em;
	font-weight: normal;
	color: #097054;
	margin-bottom: 0;
	}

h3	{
	font-size: 1.1429em;	/* 16/14 = 1.1429 */
	line-height: 1.25em;	/* 20/16 = 1.25 */
	margin-top: 1.875em;	/* 1.5: 30/16 = 1.875 */
	margin-bottom: 0.625em;	/* 0.5: 10/16 = 0.625 */
	}

h4	{
	font-size: 1.0714em;	/* 15/14 = 1.0714 */
	line-height: 1.3333em;	/* 20/15 = 1.3333 */
	font-weight: normal;
	font-style: italic;
	}
	
#sidebar h4	{
	font-size: 1.1538em;	/* 15/13 = 1.1538 */
	line-height: 1.3333em;	/* 20/15 = 1.3333 */
	font-weight: normal;
	font-style: italic;
	}


p, ul, ol, dl {margin-bottom: 1.4286em;} /* 20px */

p.date	{
	font-family: Constantia, Georgia, "Times New Roman", sans-serif;
	}

p.meta	{
	font-size: 0.9286em;	/* 13/14 = 0.9286 */
	line-height: 1.5385em;
	margin-bottom: 3.0769em	/* 40/13 = 3.3333em */
	}

#sidebar p,
#sidebar ul,
#sidebar ol,
#sidebar dl	{margin-bottom: 1.5385em;}

blockquote	{
	margin: 1.4286em;
	color: #777;
	font-style: italic;
	}
	
span.sc {font-variant: small-caps;}

pre, code	{
	font-family: Consolas, "Courier New", Monaco, monospace;
	color: #728905;
	}
	
dt	{margin-top: 1.4286em;}

#sidebar dt {margin-top: 1.5385em}


/* -- Images -- */

#content img	{
	margin: 1.4286em auto;
	padding: 3px;
	border: 1px solid #A9A9A9;
	display: block;
	text-align: center;
	}    	

/*  --Sidenotes -- */

.sidenote {
	font-size:12px;
	font-style: italic;
	line-height:20px;
	margin-left:-220px;	/* moves over to the left */
	overflow:hidden;
	position:absolute;	/* removes from normal flow...rest of paragraph moves up 8*/
	text-align:right;
	width:200px;
	}
