@import url("normalize.css");

/* !----- Reset some elements ----- */
 html, body, div, h1, h2, h3, ol, ul, p	{
	margin: 0;
	padding: 0;
	}
 
/* !----- Layout ----- */

#wrap	{
	width: 90%;
	max-width: 960px;
	margin: 20px auto;
	font: 16px/24px "Segoe", Calibri, Lucida Grande, sans-serif;
	/* background-color: #fdf6e3; */
	color: #073642;
	}
	
header	{
	height: 40px;
	margin-bottom: 20px;
	border-bottom: 1px dotted #999;
	}
	
	header h1	{
		float: left;
		width: 49%;
		font-size: 36px;
		font-weight: bold;
		text-shadow: 1px 1px 0.5px #cbcbcb;
		letter-spacing: 0.1em;	
		}
	
nav	{
	float: right;
	width: 31.666667%;
	}
	
	nav ul		{margin-left: 0;}
	nav ul li 	{
		float: left;
		width: 19.078947%;
		margin-right: 7.894737%;
		text-align: center;
		text-transform: uppercase;
		}
	nav ul li:last-child {margin-right: 0;}
		
#content	{
	clear: both;
	float: left;
	width: 48.75%;
	margin-left: 25.625%;
	display: inline;
	}
	
.article	{margin-bottom: 40px;}

#sidebar	{
	float: right;
	width: 23.125%;
	}
	
#footer		{
	clear: both;
	padding: 20px 0;
	border-top: 1px dotted #999;
	margin-top: 40px;
	}
	
#footer p	{
	float: left;
	width: 23.125%;
	margin-right: 2.5%;
	}
	
#footer p:last-child	{margin-right: 0;}

/* !----- Specific Text Styles ----- */

.meta,
.sidenote	{
	float: left;
	width: 35.043%;
	margin-left: -40.1709%;
	text-align: right;
	font-style: italic;
	}
	
.meta	{
	margin-top: -38px;
	}
	
.date	{
	margin-top: 0;
	}
	
ul.tags	{
	list-style: none;
	padding-top: 0;
	margin-top: -1px;
	}
	
	
h2,
.article p,
.article ol li,
.article ul li	{
	margin-bottom: 20px;
	}
	
.article .meta ul.tags li {margin-bottom: 0;}
	
.tags,
.sidenote,
#sidebar,
#footer	{
	font-size: 14px;
	}

img	{
	float: right;
	width: 100%;
	margin-bottom: 20px}
	
ol, ul	{margin-left: 20px;}
	
/* !----- Media Queries ----- */

@media only screen and (max-width: 680px)  {
	#wrap	{
		width: auto;
		margin: 10px 24px;}
		
	nav	{width: 49%;}
	
	header h1 {font-size: 24px;}
	
	#content	{
		width: 64.8763%;
		margin-left: 0;
		
		}
	#sidebar	{
		width: 25.9494%;
		}
	/* .sock	{float: right;} */
	
	#footer p	{
		width: 48.1013%;
		clear: left;
		float: left;
		margin-bottom: 20px;
		}
		
		#footer p.two,
		#footer p.four	{
		clear: right;
		float: right;
		margin-right: 0;
		}
		
	.meta,
	.sidenote	{
		float: none;
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		text-align: left;
		}
		
	ul.tags		{margin-bottom: 10px; margin-left: 0;}
	ul.tags li	{display: inline;}
	
	
}

@media only screen and (max-width: 380px)  {
	#wrap	{
		width: auto;
		margin: 10px 10px;
		}
	
	header	{height: auto;}
		
	header h1	{
		float:none;
		width: auto;
		font-size: 24px;
		text-align: center;
		}
		
	header nav	{
		float:none;
		width: auto;
		margin: 20px 0;
		}
	
	nav	ul	{margin: 0;}
		
	nav ul li	{
		float: none;
		display: inline;
		margin-left: 7.894737%;
		margin-right: 0;
		}
	
	#content	{
		float: none;
		width: auto;
		margin-left: 0;
		padding-top: 20px;
		}
		
	#sidebar	{
		float: none;
		width: auto;
		}
		
	#footer p	{
		float: none;
		width: auto;
		margin-bottom: 20px;
		}
		
		#footer p.two,
		#footer p.four	{
		float: none;
		margin-right: 0;
		}
		
	.meta,
	.sidenote	{
		float: none;
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		text-align: left;
		}
		
	ul.tags		{margin-bottom: 10px; margin-left: 0;}
	ul.tags li	{display: inline;}
		
}



/* !----- Contain floats ----- */

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/*	.meta,
	.sidenote	{
		position: absolute;
		width: 150px;
		margin-left: -170px;
		text-align: right;
		outline: 1px solid green;
		}
	.date	{}
	.tags	{}
*/

