/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices */
audio:not([controls]) {
  display: none;
  height: 0; }

/* Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/* Addresses margins handled incorrectly in IE6/7 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/* Addresses outline displayed oddly in Chrome */
a:focus {
  outline: thin dotted; }

/* Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/* Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/* Addresses styling not present in IE7/8/9, S5, Chrome */
abbr[title] {
  border-bottom: 1px dotted; }

/* Addresses style set to 'bolder' in FF3+, S4/5, Chrome */
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/* Addresses styling not present in S5, Chrome */
dfn {
  font-style: italic; }

/* Addresses styling not present in IE6/7/8/9 */
mark {
  background: #ff0;
  color: #000; }

/* Addresses margins set differently in IE6/7 */
p,
pre {
  margin: 1em 0; }

/* Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improves readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/* Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/* Addresses margins set differently in IE6/7 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/* Addresses paddings set differently in IE6/7 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/* Corrects list images handled incorrectly in IE7 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/* 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
*/
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/* Corrects overflow displayed oddly in IE9 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/* Corrects margin displayed oddly in IE6/7 */
form {
  margin: 0; }

/* Define consistent border, margin, and padding */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/* 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/* 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/* Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet */
button,
input {
  line-height: normal;
  /* 1 */ }

/* 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/* Re-set default cursor for disabled elements */
button[disabled],
input[disabled] {
  cursor: default; }

/* 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/* 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof) */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/* Removes inner padding and search cancel button in S5, Chrome on OS X */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/* Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/* Remove most spacing between table cells */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ---------- @Normalize Further ---------- */
html, body, div, span, object,
h1, h2, h3, h4, h5, h6,
p, blockquote, ol, ul, dl, dt, dd, pre,
img, figure,
a, em, i, strong, b, code, abbr, cite,
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0; }

ul {
  list-style: none; }

/* ======================== All Resets Complete =================================== */
/* -------- @Mobile First Layout (328px) --------- */
body {
  background: #fdf6e3 url(img/bg.jpg);
  color: #586e75;
  font-family: "ff-tisa-web-pro", Cambria, Georgia, serif;
  font-size: 1em;
  line-height: 1.5em; }

#wrap {
  *zoom: 1;
  max-width: 20.5em;
  _width: 20.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 1.5em; }
  #wrap:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 34.5em) {
    #wrap {
      max-width: 31.5em;
      _width: 31.5em; } }
  @media (min-width: 45.5em) {
    #wrap {
      max-width: 42.5em;
      _width: 42.5em; } }
  @media (min-width: 67.5em) {
    #wrap {
      max-width: 64.5em;
      _width: 64.5em; } }

#content {
  padding-top: 2px; }

nav {
  *zoom: 1; }
  nav:before, nav:after {
    content: "";
    display: table; }
  nav:after {
    clear: both; }

.primary-nav li {
  width: 19.51219512%;
  float: left;
  margin-right: 7.31707317%;
  display: inline;
  text-align: center;
  text-transform: uppercase; }
  .primary-nav li:last-child {
    margin-right: 0; }

.date {
  margin-bottom: 0; }

.tags li {
  display: inline;
  margin-right: 5px; }

footer {
  clear: both;
  background: #002b36;
  color: #839496;
  border-top: 5px solid #586e75;
  padding-top: 1.5em; }

footer .inner {
  *zoom: 1;
  max-width: 20.5em;
  _width: 20.5em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5em;
  padding-right: 1.5em; }
  footer .inner:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 34.5em) {
    footer .inner {
      max-width: 31.5em;
      _width: 31.5em; } }
  @media (min-width: 45.5em) {
    footer .inner {
      max-width: 42.5em;
      _width: 42.5em; } }
  @media (min-width: 67.5em) {
    footer .inner {
      max-width: 64.5em;
      _width: 64.5em; } }

/* -------- @Break-0 = 6 Columns (504px) --------- */
@media (min-width: 34.5em) {
  nav {
    margin-left: 17.46031746%;
    margin-right: 17.46031746%;
    transition-property: margin;
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    -webkit-transition-property: margin;
    -webkit-transition-duration: 500ms; }

  .heading {
    *zoom: 1; }
    .heading:before, .heading:after {
      content: "";
      display: table; }
    .heading:after {
      clear: both; }

  .heading h3 {
    float: left; }

  .description {
    float: right;
    text-align: right; } }
/* -------- @Break-1 = 8 Columns (680px) --------- */
@media (min-width: 45.5em) {
  header {
    *zoom: 1; }
    header:before, header:after {
      content: "";
      display: table; }
    header:after {
      clear: both; }

  .logo {
    width: 48.23529412%;
    float: left;
    margin-right: 3.52941176%;
    display: inline; }

  nav {
    width: 48.23529412%;
    float: right;
    margin-right: 0;
    #margin-left: -1.5em;
    display: inline;
    margin-left: 0; }

  .posts-list {
    width: 48.23529412%;
    float: left;
    margin-right: 3.52941176%;
    display: inline; }

  .else-list {
    width: 48.23529412%;
    float: right;
    margin-right: 0;
    #margin-left: -1.5em;
    display: inline; }

  .social {
    clear: both;
    *zoom: 1; }
    .social:before, .social:after {
      content: "";
      display: table; }
    .social:after {
      clear: both; }

  .twitter {
    width: 48.23529412%;
    float: left;
    margin-right: 3.52941176%;
    display: inline; }

  .pinboard {
    width: 48.23529412%;
    float: right;
    margin-right: 0;
    #margin-left: -1.5em;
    display: inline; }

  article {
    width: 74.11764706%;
    float: left;
    margin-right: 3.52941176%;
    display: inline;
    margin-left: 25.88235294%; }

  article h2 {
    float: right;
    width: 100%; }

  .meta,
  .sidenote,
  .caption {
    width: 30.15873016%;
    float: left;
    margin-right: 4.76190476%;
    display: inline;
    margin-left: -34.92063492%;
    text-align: right; }

  .date {
    margin-bottom: 1.33333333em; }

  .tags li {
    display: block;
    margin-right: 0; } }
/* -------- @Break-2 = 12 Columns (1032px) -------- */
@media (min-width: 67.5em) {
  nav {
    width: 31.78294574%;
    float: right;
    margin-right: 0;
    #margin-left: -1.5em;
    display: inline;
    margin-left: 0; }

  .posts-list,
  .else-list {
    width: 31.78294574%;
    float: left;
    margin-right: 2.3255814%;
    display: inline; }

  .social {
    clear: none;
    width: 31.78294574%;
    float: right;
    margin-right: 0;
    #margin-left: -1.5em;
    display: inline; }

  .twitter,
  .pinboard {
    width: 100%;
    float: left;
    margin-right: 7.31707317%;
    display: inline; }

  article {
    width: 48.8372093%;
    float: left;
    margin-right: 2.3255814%;
    display: inline;
    margin-left: 25.58139535%; } }
/* ---------- @Typography ---------- */
a, a:link, a:visited {
  color: #073642;
  font-weight: normal;
  text-decoration: underline; }

a:hover {
  color: #268bd2;
  border-bottom: 1px dotted #268bd2;
  text-decoration: none; }

header a,
header a:link,
header a:visited {
  text-decoration: none; }

/* -- Headings -- */
h1 {
  font-size: 2em;
  line-height: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-shadow: 0px 3px 2px #eee8d5; }
  @media (min-width: 34.5em) {
    h1 {
      font-size: 2.375em;
      line-height: 1.26315789em; } }

h2 {
  font-size: 1.25em;
  line-height: 1.2em; }

h2 a,
h2 a:link,
h2 a:visited {
  color: #2aa198;
  text-decoration: none; }

h2 a:hover {
  color: #268bd2; }

.heading {
  border-bottom: 5px solid #eee8d5;
  margin-bottom: 19px; }

.heading h3 {
  font-weight: normal;
  font-size: 1.25em;
  color: #1a6091;
  line-height: 1.2em;
  font-style: italic;
  margin-bottom: 0; }

.description {
  margin-top: 2px;
  margin-bottom: 0; }

#home-long h2,
article h2 {
  color: #2aa198;
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: 1em; }

.entry h3 {
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.33333333em;
  margin-top: 2em;
  margin-bottom: 0.66666667em; }

.entry h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 1.5em; }

/* -- Text Styles -- */
p, blockquote, ol, ul, pre, dl {
  margin-bottom: 1.5em; }

.light {
  color: #93a1a1;
  font-size: 0.875em;
  font-style: italic;
  line-height: 1.71428571em; }

blockquote {
  color: #93a1a1;
  font-style: italic;
  padding-left: 0.7em;
  border-left: 3px solid #eee8d5;
  margin-left: 0.7em;
  margin-bottom: 1.5em; }

.entry ol,
.entry ul {
  margin-left: 1.5em; }

.entry ul {
  list-style: square; }

.entry ol li ol {
  list-style: upper-alpha;
  margin-left: 2.5714em;
  margin-bottom: 0; }

.entry ul li ul {
  list-style: circle;
  margin-left: 2.5714em;
  margin-bottom: 0; }

.entry .test {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5em;
  text-indent: -1em; }

.entry ul.test li:before {
  content: "\00BB \0020"; }

.sc {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.125em; }

pre, code {
  color: #859900;
  font-family: "DejaVu Sans Mono", Consolas, Monaco, "Courier New", monospace, sans-serif;
  font-size: 0.875em;
  margin-bottom: 1.71428571em; }

pre {
  background-color: #eee8d5;
  border: 1px solid #93a1a1;
  padding: 0.78571429em 1.71428571em; }

code {
  line-height: 1; }

pre code {
  line-height: 1.5em; }

.meta,
.sidenote,
.caption {
  color: #93a1a1;
  font-style: italic;
  font-size: 0.875em;
  line-height: 1.71428571em;
  margin-bottom: 1.71428571em; }

.date {
  color: #586e75;
  font-style: normal;
  font-size: 1.28571429em;
  line-height: 1.33333333em;
  margin-top: 2px; }

.tags {
  margin-top: -2px;
  padding-bottom: 2px;
  margin-bottom: 1.71428571em; }

.noted {
  float: right; }

a.footnote {
  border-bottom: none;
  font-size: 90%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.4em; }

a.reversefootnote {
  text-decoration: none; }

.footnotes hr {
  display: block;
  margin: 1.375em 0;
  width: 140px;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #93a1a1;
  border-bottom: 1px solid white; }

footer p {
  font-size: 0.9375em;
  line-height: 1.28em; }

.fine-print {
  clear: left;
  color: #93a1a1;
  border-top: 1px dotted #586e75;
  padding-top: 5px; }

/* ---------- @Site-wide Elements ---------- */
.masthead {
  box-sizing: border-box;
  margin-bottom: 1.5em; }

.tagline {
  margin-bottom: 0; }

nav {
  font-size: 1.125em;
  line-height: 2.66666667em;
  margin-bottom: 1.6em; }

.primary-nav {
  padding-top: 0.66666667em;
  margin-bottom: 0; }
  .primary-nav li {
    line-height: 24px; }
  .primary-nav li a {
    display: block; }
  .primary-nav li a:hover {
    border-bottom: 5px solid #268bd2;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in;
    -webkit-transition-property: border;
    -webkit-transition-duration: 500ms; }

#home .home_tab,
#lab .lab_tab,
#about .about_tab {
  border-bottom: 5px solid #eee8d5; }

#home .home_tab a:hover,
#lab .lab_tab a:hover,
#about .about_tab a:hover {
  border-bottom: 0; }

#article .home_tab {
  border-bottom: 5px solid #fdf6e3; }

/* ---------- @Elements ---------- */
.entry img {
  float: right;
  width: 97.863248%;
  background-color: #eee8d5;
  border: 1px solid #93a1a1;
  padding: 4px;
  margin-bottom: 1.5em; }

#tweets,
#pinboard_linkroll {
  font-size: 0.875em;
  line-height: 1.37142857em; }

#tweets {
  padding-top: 4.2px;
  margin-bottom: 2.74285714em; }

#tweets ul li {
  margin-bottom: 1.37142857em; }

#tweets a,
a.pin-title {
  color: #268bd2;
  font-weight: normal;
  text-decoration: none; }

#pinboard_linkroll {
  padding-top: 5px; }

.pin-item {
  margin-bottom: 1.37142857em; }
  .pin-item p {
    margin-bottom: 0; }

a.pin-tag {
  color: #dc322f;
  font-weight: normal;
  text-decoration: none; }

a.pin-tag:hover {
  border-bottom: 1px dotted #dc322f; }
