// =================================================
// HMTL Element Styles
// Version: 1.0
// =================================================

/* ---------- @Elements ---------- */

.entry img	{
	float: right;
	width: 97.863248%;
	background-color: $accent-color;
	border: 1px solid $accent-border;
	padding: 4px;
	margin-bottom: em(24);
	}

//Twitter.js and Pinboard Links

#tweets,
#pinboard_linkroll {
  font-size: em(14);
  line-height: incr(14, 4, 5);
}

#tweets {
  padding-top: 4.2px;
  margin-bottom: 2 * incr(14, 4, 5);
}

#tweets ul li {
  margin-bottom: incr(14, 4, 5);
}

#tweets a,
a.pin-title {
  color: $link-color-hover;
  font-weight: normal;
  text-decoration: none;
}
	

#pinboard_linkroll  {
  padding-top: 5px;
}

.pin-item   {
  margin-bottom: incr(14, 4, 5);

    p {margin-bottom: 0;}
       
}

a.pin-tag  {
  color: #cb4b16;
  font-weight: normal;
  text-decoration: none;
}  

  a.pin-tag:hover {border-bottom: 1px dotted #cb4b16;}


