// =================================================
// Element Styles
// Version: 1.1
// =================================================

/* ---------- @Site-wide Elements ---------- */

// Main Header
// TODO: Move H1 styling here???
.masthead {
  box-sizing: border-box; 
  margin-bottom: $base-lh; 
}
.tagline  { margin-bottom: 0; font-style: italic;}

// Main Nav

nav {
  font-size: em(18);
  line-height: lh(2, 18);
  margin-bottom: lh(1.2, 18);
}

.primary-nav  {
  padding-top: em(12, 18);
  margin-bottom: 0;

  li { line-height: 24px;}
  li a { display: block; }
  li a:hover { 
    border-bottom: 5px solid $link-color-hover; 
    transition-property: all;  
    transition-duration: 500ms;  
    transition-timing-function: ease-in;  
    -webkit-transition-property: border;  
    -webkit-transition-duration: 500ms;  

  }
}

#posts .post_tab,
#lab .lab_tab,
#about .about_tab { border-bottom: 5px solid $accent-color;}

#home .home_tab a:hover,
#posts .post_tab a:hover,
#lab .lab_tab a:hover,
#about .about_tab a:hover { border-bottom: 0;}

// Search Box

form {
  margin: 0;
  padding: 0;
}

.search {
  margin: 0;
  padding: 0;
  width: 148px;
}

fieldset  {
  margin: 0;
  padding: 0;
  border: none;
}

// Hidden border so content does not move down
//#article .home_tab { border-bottom: 5px solid $body-color;}

// Main Footer


/* ---------- @Elements ---------- */

.entry img	{
	float: right;
	width: 97.863248%;
	background-color: $accent-color;
	border: 1px solid $accent-border;
	padding: 4px;
	margin-bottom: em(24);
	}

.art  {
  width: 99.031008%; 
  background-color: $accent-color;
  border: 1px solid $accent-border;
  padding: 4px;
  margin-bottom: em(24);
}

// Twitter.js and Pinboard Links

#tweets,
#pinboard_linkroll {
  font-size: em(14);
  line-height: incr(14, 4, 5);
}

#tweets {
  padding-top: 4.2px;
  margin-bottom: 2 * incr(14, 4, 5);
}

#tweets ul li {
  margin-bottom: incr(14, 4, 5);
}

#tweets a,
a.pin-title {
  color: $link-color-hover;
  font-weight: normal;
  text-decoration: none;
}
	

#pinboard_linkroll  {
  padding-top: 5px;
}

.pin-item   {
  margin-bottom: incr(14, 4, 5);

    p {margin-bottom: 0;}       
}

a.pin-tag  {
  color: $tag-color;
  font-weight: normal;
  text-decoration: none;
}  

a.pin-tag:hover {border-bottom: 1px dotted $tag-color;}

// Comments

.comments {
  padding-top: 3.0em;
  margin-bottom: 3.0em;
}
  
.comment-text p:last-child  { margin-bottom: lh(0.5, 16); }

.comment-data {
  position: relative;
  padding-bottom: em(10,16);
  border-bottom: 3px solid $accent-color;
  margin-bottom: lh(1.0, 16);
  
}

.comment-date {
  display: inline-block; 
  margin-left: 0.5em;
  color: $light-color;
}
  
.comment-number {
  display: block;     
  position: absolute;
  bottom: 10px;
  right:0;
  font-size: em(24);
  font-style: italic;
}

.comment-number a { color: $accent-color; text-decoration: none; }
.comment-number a:hover { color: $link-color-hover;}
.jabba .comment-number a { color: $tag-color; text-decoration: none;}
.jabba .comment-number a:hover { color: $tag-color;}

//.jabba {
//  border-left: 5px solid $accent-border;
//  padding-left: 0.5em;
//  box-sizing: border-box;
//}

@include at-breakpoint($break-1)  {
  .comment      { clear: both;}
  
  .comment-text { 
    float: right; 
    width: 100%;
    padding-bottom: 0;
    border-bottom: 3px solid $accent-color; 
    margin-bottom: 21px;
  }
  
  .comment-text p:last-child  { margin-bottom: lh(1.0,16); }
  
  .comment-data {
    @include span-columns(2, $post-columns);
    @include pull(2, $post-columns);
    text-align: right;
    border-bottom: none;
    margin-bottom: 0
  }
  
  .comment-number {
    position: static;
    //display: block;
  }
}
