// =================================================
// HMTL Element Styles
// Version: 1.0
// =================================================

/* ---------- @Elements ---------- */

.entry img	{
	float: right;
	width: 97.863248%;
	background-color: $accent-color;
	border: 1px solid $accent-border;
	padding: 4px;
	margin-bottom: em(24);
	}