// =================================================
// Site-Wide Layout
// Version: 1.1
// =================================================

/* -------- @Mobile First Layout (328px) --------- */

body {
  background: $body-color url(img/bg.jpg);
  color: $text-color;
  font-family: $serif-ff;
  font-size: em(16);
  line-height: $base-lh;
}

#wrap {
  @include container ($total-columns, $break-0, $break-1, $break-2);
  margin-top: $base-lh;
  @include susy-grid-background;
  @include at-breakpoint($break-0)  {
    @include susy-grid-background;
    }
  @include at-breakpoint($break-1)  {
    @include susy-grid-background;
    }
  @include at-breakpoint($break-2)  {
    @include susy-grid-background;    
    }
}

nav { @include clearfix; }
//.primary-nav  { @include span-columns(4); }

.primary-nav li {
  @include span-columns(1);
  text-align: center;
  text-transform: uppercase;
  &:last-child {margin-right: 0;}
}

.tags li {
  display: inline; 
  margin-right: 5px;
}

footer  {
  clear: both;
  background: $body-color-dark;
  color: $text-color-dark;
  border-top: 5px solid $accent-color-dark;
  padding-top: 1.5em;
}

footer .inner {
  @include container ($total-columns, $break-0, $break-1, $break-2);
}

/* -------- @Break-0 = 6 Columns (504px) --------- */

@include at-breakpoint($break-0) {
  nav {@include squish(1,1,6);}
  .heading  { @include clearfix; }
  .heading h3  { float: left; }
  .description { float: right; text-align: right; }
}

/* -------- @Break-1 = 8 Columns (680px) --------- */

@include at-breakpoint($break-1)  {
  
  header    {@include clearfix;}
  .logo     {@include span-columns(4, $break-1);}
  nav       {@include span-columns(4 omega, $break-1); margin-left: 0;}

  .posts-list   {@include span-columns(4, $break-1);}
  .else-list    {@include span-columns(4 omega, $break-1);}
  .social   {clear: both; @include clearfix;}
  .twitter  {@include span-columns(4, $break-1);}
  .pinboard {@include span-columns(4 omega, $break-1);}

  article   {
    @include span-columns($post-columns, $break-1);
    @include push(2, $break-1);}
  article h2 {float: right; width: 100%;}
  .meta,
  .sidenote,
  .caption  {
    @include span-columns(2, $post-columns);
    @include pull(2, $post-columns);
    text-align: right;
  }

  .tags li {display: block; margin-right: 0;}

}

/* -------- @Break-2 = 12 Columns (1032px) -------- */

@include at-breakpoint($break-2)  {
  nav {@include span-columns(4 omega, $break-2); margin-left: 0;}

  .posts-list,
  .else-list { @include span-columns(4, $break-2);}
  .social {clear: none; @include span-columns(4 omega, $break-2);}
  .twitter,
  .pinboard {@include span-columns(4, 4);}

  article {
    @include span-columns ($post-columns, $break-2);
    @include push(3, $break-2);
  }
}
