// =================================================
// Site-Wide Layout
// Version: 1.0
// =================================================

/* ---------- @ Side-wide Layout ---------- */

// html { }
body {
  background: $body-color url(img/bg.jpg);
  color: $text-color;
  font-family: $serif-ff;
  font-size: em(16);
  line-height: $base-lh;
}

#wrap {
  @include col(12);
  max-width: $max-width;
  margin: $gutter auto;
}


// TODO: Include a #sidebar div for possible use (About page)?;

/* -- Masthead -- */

header.masthead    {
  height: em(72);
  margin-bottom: em(24);
  @include clearfix;
}

.logo   {
  @include col-fl(6);
}


nav     {
  @include col-fr(4);
  line-height: em(48);
  ul li {
    float: left;
    @include subcol(1,4);
    margin-right: 24px  // Convert to percent?
    }

  ul li:last-child  {margin-right: 0;} 
}

/* -- Footer -- */

/* ---------- @Short Homepage ---------- */

#home-short #content  { 
  @include clearfix;
}

.list {             
  @include col-fl(5);   
}

footer  {
  @include clearfix;
}

.intro  {
  @include col-fl(5);
}

.social {
 @include col-fl(2);
 @include last;
}

.articles li {
  margin-bottom: $base-lh;
  }
  
/* ---------- @Long Homepage ---------- */

#home-long #content {
  @include col-fl(8);
}

#home-long #sidebar {
  @include col-fr(3);
  @include last;
}

#home-long article {
  width: 74.05063%;
  float: left;
  margin-left: 25.94937%;
}

#home-long article h2 {
	float: right;
	width: 100%;
}

#home-long .meta,
#home-long .sidenote,
#home-long .caption  {
	float: left;
	width: 29.91453%;
	margin-left: -35.04274%;
	text-align: right;
}
 
#home-long footer {
  clear: both;  
}

// FIXME: This will have to move to typography, just testing here;
#home-long h2 {
  color: $title-color;
  font-size: em(24);
  line-height: lh(1, 24);
  margin-bottom: lh(1, 24);
  }

/* ---------- @Full Article Page ---------- */

.full-article{
	@include col-fl (7);
	@include push(3, 3);
}

.full-article h2 {
	float: right;
	width: 100%;
}

.meta,
.sidenote,
.caption  {
	float: left;
	@include subcol(2,6);
	@include pull(2,6);
	text-align: right;
}
