// =================================================
// Additions to Normalize stylesheet
// Version: 1.0
// =================================================

/* ---------- @Normalize Further ---------- */

html, body, div, span, object,
h1, h2, h3, h4, h5, h6,
p, blockquote, ol, ul, dl, dt, dd, pre,
img, figure, 
a, em, i, strong, b, code, abbr, cite,
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  }

ul  {list-style: none;}
/* ======================== All Resets Complete =================================== */