// =================================================
// Typography
// Version: 1.0
// =================================================

/* ---------- @Typography ---------- */

// Default Link Styles

a, a:link, a:visited {
  color: $link-color;
  font-weight: normal;
  text-decoration: underline;
  }
  
a:hover {
  color: $link-color-hover;
  border-bottom: 1px dotted $link-color-hover;
  text-decoration: none;
  }
  
header a,
header a:link,
header a:visited  { text-decoration: none; }

/* -- Headings -- */

// Main Header Logo
h1  {
  font-size: em(32);
  line-height: lh(2,32);
  text-transform: uppercase;
  letter-spacing: 0.08em;
  text-shadow: 0px 3px 2px $accent-color;
  @include at-breakpoint($break-1){
    font-size: em(36);
    line-height: lh(2,36);
  }
}

// Article Titles
h2 {
  font-size: em(20);
  line-height: lh(1, 20);
  }
  
h2 a,
h2 a:link,
h2 a:visited  {color: $title-color; text-decoration: none;}
h2 a:hover    {color: $link-color-hover;}
  
// Section Headings on Home 
.heading  {
  @include clearfix;
  border-bottom: 5px solid $accent-color;
  margin-bottom: 19px;
}

.heading h3  {
  font-weight: normal;
  font-size: em(20);
  color: $heading-text-color;
  line-height: lh(1, 20);
  font-style: italic;
  margin-bottom: 0;
  @include at-breakpoint($break-1) { float: left; }
}

.description {
  margin-top: 2px;
  margin-bottom: 0;
  @include at-breakpoint($break-1) { float: right; text-align: right; }
}

// Article Titles and Subheadings
#home-long h2,  
article h2 {
  color: $title-color;
  font-size: em(24);
  line-height: lh(1, 24);
  margin-bottom: lh(1, 24);
  }
  
.entry h3 {
  font-weight: bold;
  font-size: em(18);
  line-height: lh(1, 18);
  margin-top: lh(1.5, 18);
  margin-bottom: lh(0.5, 18);
  }

.entry h4 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: lh(1, 16);
  }

/* -- Text Styles -- */

p, blockquote, ol, ul, pre, dl  {
  margin-bottom: $base-lh;
  }
  
.light  {
  color: $light-color;
  font-size: em(14);
  font-style: italic;
  line-height: lh(1.0, 14);
}
    
blockquote  {
  color: $light-color;
  font-style: italic;
  padding-left: 0.7em;
  border-left: 3px solid $accent-color;
  margin-left: 0.7em;
  margin-bottom: $base-lh;
  }

// Lists

.entry ol,
.entry ul	{
	margin-left: 1.5em;
	}
	
.entry ul  {
  list-style: square;
}

// TODO: Convert these to em functions
.entry ol li ol	{
	list-style: upper-alpha;
	margin-left: 2.5714em;
	margin-bottom: 0;
	}
	
.entry ul li ul	{
	list-style: circle;
	margin-left: 2.5714em;
	margin-bottom: 0;
	}

// TODO: Keep or ditch this	
.entry .test  {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5em;
  text-indent: -1.0em;
  }
  
.entry ul.test li:before {
	content: "\00BB \0020";
	}
	
.sc {
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: em(18);
  }
	
// Code

pre, code	{
  color: $code-color;
	font-family: $code-ff;
	font-size: em(14);
	margin-bottom: lh(1, 14);
	}
	
pre {
  background-color: $accent-color;
  border: 1px solid $accent-border;
  padding: em(11,14) em(24,14);
  }
	
// https://github.com/h5bp/html5-boilerplate/issues/656#issuecomment-1761788 */
code     {line-height: 1;}
pre code {line-height: 1.5em;}

// Sidenotes and Footnotes

.meta,
.sidenote,
.caption  {
  color: $light-color;
  font-style: italic;
  font-size: em(14);
  line-height: lh(1, 14);
  margin-bottom: lh(1, 14);
  }

.date  {
  color: $text-color;
  font-style: normal;
  font-size: em(18, 14);
  line-height: lh(1, 18);
  margin-bottom: lh(1, 18);
  margin-top: 2px;   
  }

.tags {margin-top: -2px;}

.noted  {
  float: right;
  }
  
a.footnote	{
	border-bottom: none;
	font-size: 90%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.4em;
	}

a.reversefootnote	{text-decoration: none;}
  
.footnotes hr {
  display : block; 
  margin : em(22) 0;
  width: 140px;
  padding : 0;
  height : 1px; 
  border : 0; 
  border-top : 1px solid $accent-border;
  border-bottom : 1px solid rgb(255,255,255);
  }

// Footer 
// FIXME: Testing incremental leading here  

footer p {
  font-size: em(15);
  line-height: incr(15, 4, 5);
}

.fine-print {
  clear: left;
  color: $light-color;
  border-top: 1px dotted #586e75;
  padding-top: 5px;
}

