@import "reset";

// ***** variables *****

$base-font-size: 	  16px;
$base-line-height: 	1.5; 	//24px becomes vertical rhythm
$base-font-family:	Georgia, sans-serif;
$base-font-color:	  #333;
$base-bg-color:	    #fff;

$h1-size:		        24px;
$h2-size:		        20px;
$caption-size:		  14px;
$caption-color:		  lighten($base-font-color, 20);

// TITLE Samples

$title-font-size: 	24px;
$title-line-height:	1.0em;	//add a function that keeps LH in sync with vert rhythm?
$title-font-color: 	#040;

$title-case1-ff:		"adelle";
$title-case2-ff:		"proxima-nova";
$title-case3-ff:		"ff-tisa-web-pro";
$title-case4-ff:		"alternate-gothic-no-3-d";
$title-case5-ff:		$base-font-family;	

// TEXT Samples

$text-case1-ff:		  "adelle";
$text-case2-ff:		  "proxima-nova";
$text-case3-ff:		  "ff-tisa-web-pro";
$text-case4-ff:		  Corbel;
$text-case5-ff:		  $base-font-family;

// Code Samples

$code-case1-ff:     "Anonymous Pro", monospace;
$code-case2-ff:     "DejaVu Sans Mono", monospace;
$code-case3-ff:     Inconsolata, monospace;
$code-case4-ff:     Monaco, monospace;
$code-case5-ff:     Consolas, monospace;


/* ----- Baseline Page Styles ----- */
body	{
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-family: $base-font-family;
	background-color: $base-bg-color;
	color: $base-font-color;
	}

#wrap	{
	width: 960px;
	margin: 24px auto;
	}

.titles	{
	float: left;
	width: 46%;
	}

.text	{
	float: right;
	width: 46%;
	}

footer	{
	clear: both;
	}

h1	{
	font-size: $h1-size;
	line-height: 48px;
	margin-bottom: 1.0em;
	}

h2	{
	font-size: $h2-size;
	line-height: 1.2em;
	margin-bottom: 1.2em;
	border-bottom: 1px dotted #555;
	}

p	{
	margin-bottom: 1.5em;
	}
	
.intro  {width: 46%;}

.speciman	{
	letter-spacing: 0.3em;
	margin-bottom: 0;
	}

.caption	{
	font-size: $caption-size;
	line-height: 1.7142em;
	font-style: italic;
	color: $caption-color;
	margin-bottom: 1.7142em;
	}
	
em  {font-style: italic;}
.smallcaps  {font-variant: small-caps;}

strong  {font-weight: bold;}

/* ----- Title Styles ----- */

h3	{
	font-size: $title-font-size;
	line-height: $title-line-height;
	color: $title-font-color;
	}

h3.title-case1	{font-family: $title-case1-ff;}
h3.title-case2	{font-family: $title-case2-ff;}
h3.title-case3	{font-family: $title-case3-ff;}
h3.title-case4	{font-family: $title-case4-ff;}
h3.title-case5	{font-family: $title-case5-ff;}

/* ----- Text Styles ----- */

p.text-case1	{font-family:  $text-case1-ff;}
p.text-case2	{font-family:  $text-case2-ff;}
p.text-case3	{font-family:  $text-case3-ff;}
p.text-case4	{font-family:  $text-case4-ff;}
p.text-case5	{font-family:  $text-case5-ff;}

/* ----- Code Styles ----- */

pre.code-case1  {font-family: $code-case1-ff;}
pre.code-case2  {font-family: $code-case2-ff;}
pre.code-case3  {font-family: $code-case3-ff;}
pre.code-case4  {font-family: $code-case4-ff;}
pre.code-case5  {font-family: $code-case5-ff;}

