// =================================================
// Element Styles
// Version: 1.1
// =================================================

/* ---------- @Site-wide Elements ---------- */

.masthead {
  box-sizing: border-box; 
  margin-bottom: $base-lh; 
}

.tagline  { margin-bottom: 0; font-style: italic;}

nav {
  font-size: em(18);
  line-height: lh(2, 18);
  margin-bottom: lh(1.2, 18);
}

.primary-nav  {
  padding-top: em(12, 18);
  margin-bottom: 0;
  margin-left: 0;

  li { line-height: 24px;}
  li a { display: block; }
  li a:hover { 
    border-bottom: 5px solid $link-color-hover; 
    transition-property: all;  
    transition-duration: 500ms;  
    transition-timing-function: ease-in;  
    -webkit-transition-property: border;  
    -webkit-transition-duration: 500ms;  

  }
}

#posts .post_tab,
#lab .lab_tab,
#about .about_tab { border-bottom: 5px solid $accent-color;}

#home .home_tab a:hover,
#posts .post_tab a:hover,
#lab .lab_tab a:hover,
#about .about_tab a:hover { border-bottom: 0;}

// Search Box

form {
  margin: 0;
  padding: 0;
}

.search {
  margin: 0;
  padding: 0;
  width: 148px;
}

fieldset  {
  margin: 0;
  padding: 0;
  border: none;
}

// Hidden border so content does not move down
//#article .home_tab { border-bottom: 5px solid $body-color;}

// Main Footer

footer  {
  margin-top: 48px;
  padding-top: 1.5em;
  background: $body-color-dark;
  color: $text-color-dark;
  border-top: 5px solid $accent-color-dark;
}

/* ---------- @Elements ---------- */

// Section Headings on Home 
.heading  {
  border-bottom: 5px solid $accent-color;
  margin-bottom: 19px;
}

.description {
  margin-top: 2px;
  margin-bottom: 0;
}

.tagslist { margin-left: 0; }

.entry img	{
	float: right;
	width: 97.863248%;
	background-color: $accent-color;
	border: 1px solid $accent-border;
	padding: 4px;
	margin-bottom: em(24); // NOTE: Old, replace with inuit.scss mixin
	}

.art  {
  width: 99.031008%; 
  background-color: $accent-color;
  border: 1px solid $accent-border;
  padding: 4px;
  margin-bottom: em(24); // NOTE: Old, replace with inuit.scss mixin
}

// Twitter.js and Pinboard Links
// NOTE: Old, replace with inuit.scss mixin
#tweets,
#pinboard_linkroll {
  font-size: em(14); 
  line-height: incr(14, 4, 5);
}

#tweets {
  padding-top: 4.2px;
  margin-bottom: 2 * incr(14, 4, 5);
}

#tweets ul {
  margin-left: 0;
}

#tweets ul li {
  margin-bottom: incr(14, 4, 5);
}

#tweets a,
a.pin-title {
  color: $link-color-hover;
  font-weight: normal;
  text-decoration: none;
}
	
#pinboard_linkroll  {
  padding-top: 5px;
}

.pin-item   {
  margin-bottom: incr(14, 4, 5);

    p {margin-bottom: 0;}       
}

a.pin-tag  {
  color: $tag-color; // FIXME: Do these PB tags really need to be red?;
  font-weight: normal;
  text-decoration: none;
}  

a.pin-tag:hover {border-bottom: 1px dotted $tag-color;}

/* ---------- @Lab Items ---------- */
// NOTE: Should Lab-specific styles be in a separate partial?

// Pinboard Links on Lab Home Page
// FIXME: Variable for these PB link colors?

ul.pinboard {margin-left: 0;}
ul.pinboard a,
ul.pinboard a:link,
ul.pinboard a:visited {
  color: #002b36;
  font-weight: normal;
  text-decoration: underline;
  }
ul.pinboard a:hover {
  text-decoration: none; 
  color: #268bd2;
  border-bottom: 1px dotted #268bd2;
  }

.lab-list dt a {
  font-size: 18px;
}

