// =================================================
// Element Styles
// Version: 1.1
// =================================================

/* ---------- @Site-wide Elements ---------- */

.masthead {
  box-sizing: border-box; 
  margin-bottom: $base-spacing-unit; 
}

.tagline  { margin-bottom: 0; font-style: italic;}

nav {
  @include font-size(18px);
  line-height: 2;
  @extend .base-margin;
}

.primary-nav  {
  padding-top: $half-spacing-unit;
  margin-bottom: 0;
  margin-left: 0;

  li { line-height: 24px;}
  li a { display: block; }
  li a:hover { 
    border-bottom: 5px solid $link-color-hover; 
    transition-property: all;  
    transition-duration: 500ms;  
    transition-timing-function: ease-in;  
    -webkit-transition-property: border;  
    -webkit-transition-duration: 500ms;  

  }
}

#posts .post_tab,
#lab .lab_tab,
#about .about_tab { border-bottom: 5px solid $accent-color;}

#home .home_tab a:hover,
#posts .post_tab a:hover,
#lab .lab_tab a:hover,
#about .about_tab a:hover { border-bottom: 0;}


// Main Footer

footer  {
  margin-top: 48px;
  padding-top: 1.5em;
  background: $body-color-dark;
  color: $text-color-dark;
  border-top: 5px solid $accent-color-dark;
}

// FIXME: Testing incremental leading here  

// footer p,
// footer ul {
//   @extend .small-fs;
// }

.wisdom {
  font-style: italic;
  margin-bottom: 0;
}

.cite::before {
  content: "— "
}

.crap {
  margin-bottom: 48px;
}

.fine-print {
  clear: both;
  border-top: 1px dotted #586e75;
  padding-top: 5px;
}

footer ul {
  margin-left: 0;
}

// Search Box
// TODO: Style the Search Module, make it portable

form {
  margin: 0;
  padding: 0;
}

.search {
  @include rounded();
  box-sizing: border-box;
  margin-bottom: 0px;
  padding: 3px 3px 3px 3px;
  width: 100%;
}

fieldset  {
  margin: 0;
  padding: 0;
  border: none;
}

/* ---------- @Elements ---------- */

// Sidebar Sub-Modules 
.heading  {
  border-bottom: 5px solid $accent-color;
  margin-bottom: 19px;
}

.label  {
  @include font-size(20px);
  font-weight: normal;
  font-style: italic;
  color: $heading-text-color;
  margin-bottom: 0;
}

.description {
  @extend .light;
  margin-top: 2px;
  margin-bottom: 0;
}

// Archives Page
.entrytags { @extend .light; }
.tagslist { margin-left: 0; }

.entry img	{
	float: right;
	width: 97.863248%;
	background-color: $accent-color;
	border: 1px solid $accent-border;
	padding: 4px;
	}

.art  {
  width: 99.031008%; 
  background-color: $accent-color;
  border: 1px solid $accent-border;
  padding: 4px;
}

// Twitter.js and Pinboard Links
// FIXME: Create a inuit-based incremental leading mixin?
#tweets,
#pinboard_linkroll {
  @include font-size(14px); 
}

#tweets {
  padding-top: 4.2px;
  margin-bottom: 38px
}

#tweets ul {
  margin-left: 0;
}

#tweets ul li {
  margin-bottom: 19px;
}

#tweets a,
a.pin-title {
  color: $link-color-hover;
  font-weight: normal;
  text-decoration: none;
}
	
#pinboard_linkroll  {
  padding-top: 5px;
}

.pin-item   {
  margin-bottom: 19px;

    p {margin-bottom: 0;}       
}

a.pin-tag  {
  color: $light-color; // FIXME: Do these PB tags really need to be red?;
  font-weight: normal;
  text-decoration: none;
}  

a.pin-tag:hover {
  color: $link-color-hover;
  border-bottom: 1px dotted $link-color-hover;
}

/* ---------- @Lab Items ---------- */

// Pinboard Links on Lab Home Page
// FIXME: Variable for these PB link colors?

ul.pinboard {margin-left: 0;}
ul.pinboard a,
ul.pinboard a:link,
ul.pinboard a:visited { text-decoration: none; }

.lab-list dt,
.lab-list dt a { 
  @include font-size(19px);
}

