@import url(normalize.css);
/* 
Filename: main.css --> css/main.css			
Version: 1.0 // 21 April 2012 // 11:31 PM
Notes:
*/
/* ----- Reset or Normalize ----- */
html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, ol, ul, li, blockquote,
dl, dt, dd, pre, code, img {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

/* ----- @Layout ----- */
#wrap {
  width: 90%;
  max-width: 960px;
  margin: 24px auto;
  padding: 0 20px;
}

header.logo {
  height: 72px;
  margin-bottom: 1.5em;
}

header.logo section.masthead {
  float: left;
  width: 37.5%;
}

header.logo nav {
  background: yellow;
  float: right;
  width: 37.5%;
}

nav ul {
  margin-left: 0;
}

nav ul li {
  float: left;
  width: 60px;
  line-height: 48px;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
}

nav ul li:last-child {
  margin-right: 0;
}

#content {
  *zoom: 1;
}
#content:before, #content:after {
  content: "";
  display: table;
}
#content:after {
  clear: both;
}

.articles {
  float: left;
  width: 37.5%;
  margin-right: 4.167%;
}

.else {
  float: left;
  width: 37.5%;
  margin-right: 4.167%;
}

/* .social {
	@include col-fl(2);
	margin-right: 0;
} */
.full-article {
  float: left;
  width: 47.917%;
  margin-right: 4.167%;
  margin-left: 300px;
}

.full-article h2 {
  float: right;
  width: 100%;
}

.meta,
.sidenote {
  float: left;
  width: 160px;
  margin-left: -200px;
  text-align: right;
}

header.meta {
  margin-bottom: 0;
}

footer {
  clear: both;
  padding-top: 48px;
}

footer section {
  float: left;
  width: 27.083%;
  margin-right: 4.167%;
}

/* ----- @Typography ----- */
a, a:link {
  color: #002b36;
  text-decoration: underline;
  font-weight: bold;
}

a:visited {
  color: #6c71c4;
}

a:hover {
  color: #268bd2;
  text-decoration: none;
  border-bottom: 1px dotted #268bd2;
}

body {
  background: #fdf6e3 url(img/bg.jpg);
  color: #073642;
  font-family: ff-tisa-web-pro, Segoe, Corbel, "Trebuchet MS", sans-serif;
  font-size: 100%;
  font-style: normal;
}

#content {
  font-size: 1em;
  line-height: 1.5em;
}

h1 {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.125em;
  line-height: 1.333em;
  color: #2aa198;
}

h2 a,
h2 a:link {
  color: #2aa198;
  text-decoration: none;
}

h2 a:visited {
  color: #2aa198;
}

h2 a:hover {
  border-bottom: 1px dotted #2aa198;
}

.articles span {
  font-size: 0.875em;
  line-height: 1.714em;
  color: #657b83;
}

/* ----- @Lists ----- */
#home ul {
  list-style: none;
}
