// =================================================
// Site-wide Global Styles
// Version: 1.0
// =================================================

html, body, div, span, object,
h1, h2, h3, h4, h5, h6,
p, blockquote, ol, ul, dl, dt, dd, pre,
img, figure, 
a, em, i, strong, b, code, abbr, cite,
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  }

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre, img,
.base-margin {
  margin-bottom:$base-spacing-unit;
  margin-bottom:($base-spacing-unit / $base-font-size)*1rem;
}

html {
  font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} serif;
  overflow-y:scroll;
  min-height:100%;
}

body {
  background: $body-color url(img/bg.jpg);
  color: $text-color;
  font-family: $serif-ff;
  @include font-size(16px);
}

// Global Typography Definitions

.small-fs {
  @include font-size($fs-small);
}

.big-fs {
  @include font-size($fs-big);
}

.half-margin {
  margin-bottom:$base-spacing-unit / 2;
  margin-bottom:(($base-spacing-unit / $base-font-size) / 2)*1rem;
}

.twice-margin {
  margin-bottom:2 * $base-spacing-unit;
  margin-bottom:(2 * $base-spacing-unit / $base-font-size)*1rem;
}

.light  {
  @extend .small-fs;
  color: $light-color;
  font-style: italic;
}

// Default Link Styles

a, a:link, a:visited {
  color: $link-color;
  font-weight: normal;
  text-decoration: underline;
  }
  
a:hover {
  color: $link-color-hover;
  border-bottom: 1px dotted $link-color-hover;
  text-decoration: none;
  }

// Lists

ol,
ul  { 
  margin-left: $base-spacing-unit;
  margin-left:($base-spacing-unit / $base-font-size)*1rem; 
}

ul  {list-style: none;}

.entry ul  { list-style: square; }

.entry ul li ul {
  list-style: circle;
  margin-left: ($base-spacing-unit);
  margin-bottom: 0;
  }

ol li ol {
  list-style: upper-alpha;
  margin-left: ($base-spacing-unit);
  margin-bottom: 0;
  }

