// =================================================
// Variables and Mixins
// Version: 1.1
// =================================================

// 1. TYPOGRAPHY -----------------------------------

// Font Mixin from inuit.css

@mixin font-size($font-size){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

// Mixin to set margins as multiples of line-height.

@mixin vert ($top-mult: 1, $bottom-mult: 1){
  margin-top: ($base-spacing-unit * $top-mult);
  margin-top: (($base-spacing-unit / $base-font-size) * $top-mult)*1rem;
  margin-bottom: ($base-spacing-unit * $bottom-mult);
  margin-bottom: (($base-spacing-unit / $base-font-size) * $bottom-mult)*1rem;
}

// Incremental Leading
// Every 'x' line of affected element will align with every 'y' line of main text

//@function incr($new-size: 14, $x: 4, $y: 5){
//  @return (1em * (($base-vr / $new-size) * ($x / $y)))
//  }

// 2. General Mixins ------------------------------

@mixin clearfix {
  *zoom:1;
  &:before, &:after {content: " "; display:table;}
  &:after {clear:both;}
  }
    
@mixin hide-text {  // Can't use em-based margins on an element using this
  background-color: transparent;
  border:           0;
  color:            transparent;
  font:             0/0 a;
  text-shadow:      none;
  }

@mixin rounded($radius:4px) {
  -webkit-border-radius : $radius;
     -moz-border-radius : $radius;
          border-radius : $radius; 
  }

@mixin drop-shadow($x-axis: 0, $y-axis: 1px, $blur: 2px, $alpha: 0.1) {
  -webkit-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
     -moz-box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha);
          box-shadow : $x-axis $y-axis $blur rgba(0, 0, 0, $alpha); 
  }

// Add percentage of white to a color
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}


