@import "../resets/normalize_v2";

// ***** inuit.css stuff *****

$base-font-size:    16px!default;
$base-line-height:  24px!default;

$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;

@mixin font-size($font-size){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre,
%sass-margin-bottom,
.media,
.island,
.islet{
		margin-top: 0;
    margin-bottom:$base-spacing-unit;
    margin-bottom:($base-spacing-unit / $base-font-size)*1rem;
    
    .islet &{
        margin-bottom:$base-spacing-unit / 2;
        margin-bottom:(($base-spacing-unit / $base-font-size) / 2)*1rem;
    }
}

@mixin rounded($radius:4px) {
  -webkit-border-radius : $radius;
     -moz-border-radius : $radius;
          border-radius : $radius; 
  }

$base-font-family:	Georgia, sans-serif;
$base-font-color:	  #586e75;
$base-bg-color:	    #fdf6e3;

$h1-size:		        28px; // Page Title
$h2-size:		        24px; // Section Titles
$heading-color:     #073642;
//$h3-size:               ;
//$h4-size:               ;
//$h5-size:               ;
//$h6-size:               ;
$caption-size:		  14px;
$caption-color:		   #93a1a1; //lighten($base-font-color, 20)

// TITLE Samples

$title-font-size: 	28px;
$title-font-color: 	darken(#2aa198, 10);

$title-case1-ff:		"adelle", serif;
$title-case2-ff:		"proxima-nova", sans-serif;
$title-case3-ff:		"ff-tisa-web-pro", serif;
$title-case4-ff:		Georgia, serif;
$title-case5-ff:		"alternate-gothic-no-3-d", sans-serif;
$title-case6-ff:		"bebas-neue", sans-serif;	

// TEXT Samples

$text-sample-size:  16px;
$text-sample-color: #586e75;

$text-case1-ff:		  "adelle";
$text-case2-ff:		  "proxima-nova";
$text-case3-ff:		  "ff-tisa-web-pro";
$text-case4-ff:		  Corbel;
$text-case5-ff:		  Georgia;
$text-case6-ff:     Cambria;

// Code Samples

$code-font-size:    14px;
$code-bg-color:     #002b36;
$code-font-color:   #839496;

$code-case0-ff:     Menlo, monospace;
$code-case1-ff:     'Anonymous Pro', monospace;
$code-case2-ff:     'DejaVu Sans Mono', monospace;
$code-case3-ff:     Inconsolata, monospace;
$code-case4-ff:     Monaco, monospace;
$code-case5-ff:     Consolas, monospace;


/* ----- Baseline Page Styles ----- */

html{
  font:#{($base-font-size/16px)*1em}/#{$line-height-ratio};
  font-family: $base-font-family;
  overflow-y:scroll;
  min-height:100%;
}

body	{
	@include font-size(16px);
	background-color: $base-bg-color;
	color: $base-font-color;
	}

#wrap	{
	width: 1000px;
	margin: 24px auto;
	}

.titles	{
	float: left;
	width: 48%;
	}

.text	{
	float: right;
	width: 48%;
	}

footer	{
	clear: both;
	}

h1	{
	@include font-size($h1-size);
	color: $heading-color;
	}

h2	{
	@include font-size($h2-size);
	color: $heading-color;
	border-bottom: 1px dotted #555;
	font-style: italic;
	}

	
.intro  {width: 48%;}

.speciman	{
	letter-spacing: 0.3em;
	margin-bottom: 0;
	}

.caption	{
	@include font-size($caption-size);
	font-style: italic;
	color: $caption-color;
	}
	
em  {font-style: italic;}
strong  {font-weight: bold;}

.smallcaps  {
	font-variant: small-caps;
	text-transform: lowercase;
	font-size: $base-font-size + 2;
	}



/* ----- Title Styles ----- */

h3	{
	@include font-size($title-font-size);
	color: $title-font-color;
	font-weight: normal;;
	}

h3.title-case1	{font-family: $title-case1-ff; margin-bottom: 0;}
h3.title-case2	{font-family: $title-case2-ff; margin-bottom: 0;}
h3.title-case3	{font-family: $title-case3-ff; margin-bottom: 0;}
h3.title-case4	{font-family: $title-case4-ff; margin-bottom: 0;}
h3.title-case5	{font-family: $title-case5-ff; margin-bottom: 0;}
h3.title-case6	{font-family: $title-case6-ff; margin-bottom: 0;}

/* ----- Text Styles ----- */

.sample {
	@include font-size($text-sample-size);
	color: $text-sample-color;
}

p.text-case1	{@extend .sample; font-family:  $text-case1-ff;}
p.text-case2	{@extend .sample; font-family:  $text-case2-ff;}
p.text-case3	{@extend .sample; font-family:  $text-case3-ff;}
p.text-case4	{@extend .sample; font-family:  $text-case4-ff;}
p.text-case5	{@extend .sample; font-family:  $text-case5-ff;}
p.text-case6	{@extend .sample; font-family:  $text-case6-ff;}

/* ----- Code Styles ----- */

pre, {
	@include font-size($code-font-size);
	width: 80%;
	background-color: $code-bg-color;
	color: $code-font-color;
	margin-bottom: 0;
	padding-left: 12px;
	@include rounded(5px);
}

pre.code-case0 code {font-family: $code-case0-ff;}
pre.code-case1 code {font-family: $code-case1-ff;}
pre.code-case2 code {font-family: $code-case2-ff;}
pre.code-case3 code {font-family: $code-case3-ff;}
pre.code-case4 code {font-family: $code-case4-ff;}
pre.code-case5 code {font-family: $code-case5-ff;}

