/* 
Filename: main.css --> css/main.css			
Version: 1.0 // 21 April 2012 // 11:31 PM
Notes:
*/

// SASS Imports
@import "factory.scss";

/* ----- Reset or Normalize ----- */

@import "normalize.css";

html, body, div, span, 
h1, h2, h3, h4, h5, h6,
p, ol, ul, li, blockquote,
dl, dt, dd, pre, code, img	{
	margin: 0;
	padding: 0;
	border: 0;
	}

ul {list-style: none;}

/* ----- @Layout ----- */

#wrap	{
	width: 90%;
	max-width: $max-width;
	margin: $base-lh auto;
	padding: 0 $margin;
}

header.logo 	{
	height: $base-lh * 3;
	margin-bottom: lh(1.5);
}
	header.logo section.masthead {
		float: left;
		@include col(5);

}
	header.logo nav {
		background: yellow;
		float: right;
		@include col(4);
}
		nav ul	{margin-left: 0;}
			nav ul li 	{
				float: left;
				width: 58px;
				line-height: 48px;
				margin-right: 24px;
				text-align: center;
				text-transform: uppercase;
				}
			nav ul li:last-child {margin-right: 0;}

#content {@include clearfix;}

.articles {
	@include col-fl(4);
}

.else {
	@include col-fl(4);
}

 .social {
	@include col-fl(2);
	margin-right: 0;
} 

.full-article{
	@include col-fl (6);
	@include push(3, 3);
}

.full-article h2 {
	float: right;
	width: 100%;
}

.meta,
.sidenote {
	float: left;
	@include subcol(2,6);
	@include pull(2,6);
	text-align: right;
}

header.meta {
	margin-bottom: 0;
}
footer {
	clear: both;
	padding-top:48px;
}

	footer section {
		@include col-fl(3);
	}

/* ----- @Typography ----- */

a, a:link { 
	color: $base03;
	text-decoration: underline; 
	font-weight: bold;
	}

a:visited 	{color: $violet;}
a:hover 	{
	color: $blue;
	text-decoration: none; 
	border-bottom: 1px dotted $blue;
	}

body {
	background: $base3 url(img/bg.jpg);
	color: $base02;
    font-family: ff-tisa-web-pro, Segoe, Corbel, "Trebuchet MS", sans-serif;
    font-size: 100%;
    font-style: normal;
 }

 #content	{
 	font-size: em(16px);
 	line-height: lh(1.5);
 }

 h1	{
 	font-size: 48px;
 	line-height: 48px;
 	text-transform: uppercase;
 	/*height: 72px;
 	width: 460px; */
 	/* text-indent: -9999px;
 	background: url(img/logo1.png) no-repeat; */
 }

 h2 {
 	font-size: em(18px);
 	line-height: lh(1, 18px);
 	color: $cyan;
 }
 	h2 a,
 	h2 a:link 		{color: $cyan; text-decoration: none;}
 	h2 a:visited 	{color: $cyan;}
 	h2 a:hover		{border-bottom: 1px dotted $cyan;}
 	
 /* Testing here */
 h3	{
	font-size: em(18px);				/* 18/16 = 1.125 */
	line-height: lh(1, 18px);		/* 24/18 = 1.333 */
	margin-top: lh(1.5, 18px);				/* 1.5: 36/18 = 2.0 */
	margin-bottom: lh(0.5, 18px);	/* 0.5: 12/18 = 0.66667 */
	}
 
 /* End Test */

.articles span {
	font-size: em(14px);
	line-height: lh(1, 14px);
	color: $base00;
}

.ir {
	text-indent: 100%;
white-space: nowrap;
overflow: hidden;

}

/* ----- @Lists ----- */

#home ul {
	list-style: none;
}